<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shippingOrder">
            <h2><span jhiTranslate="eshipperApp.shippingOrder.detail.title">Shipping Order</span> {{shippingOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eshipperApp.shippingOrder.shippingClaim">Shipping Claim</span></dt>
                <dd>
                    <div *ngIf="shippingOrder.shippingClaimId">
                        <a [routerLink]="['/shipping-claim', shippingOrder.shippingClaimId, 'view']">{{shippingOrder.shippingClaimId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shipping-order', shippingOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
