<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-claim-document-type-heading" jhiTranslate="eshipperApp.claimDocumentType.home.createOrEditLabel">Create or edit a Claim Document Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimDocumentType.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimDocumentType.claimMissingDocument" for="field_claimMissingDocument">Claim Missing Document</label>
                    <select class="form-control" id="field_claimMissingDocument" name="claimMissingDocument" formControlName="claimMissingDocumentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="claimMissingDocumentOption.id" *ngFor="let claimMissingDocumentOption of claimmissingdocuments; trackBy: trackById">{{claimMissingDocumentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
