<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-elastic-shipping-claim-heading" jhiTranslate="eshipperApp.elasticShippingClaim.home.createOrEditLabel">Create or edit a Elastic Shipping Claim</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.elasticShippingClaim.shippingClaim" for="field_shippingClaim">Shipping Claim</label>
                    <select class="form-control" id="field_shippingClaim" name="shippingClaim" formControlName="shippingClaimId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shippingClaimOption.id" *ngFor="let shippingClaimOption of shippingclaims; trackBy: trackById">{{shippingClaimOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.elasticShippingClaim.elasticStatus" for="field_elasticStatus">Elastic Status</label>
                    <select class="form-control" id="field_elasticStatus" name="elasticStatus" formControlName="elasticStatusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="elasticsearchStatusOption.id" *ngFor="let elasticsearchStatusOption of elasticsearchstatuses; trackBy: trackById">{{elasticsearchStatusOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
