<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="elasticShippingClaim">
            <h2><span jhiTranslate="eshipperApp.elasticShippingClaim.detail.title">Elastic Shipping Claim</span> {{elasticShippingClaim.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eshipperApp.elasticShippingClaim.shippingClaim">Shipping Claim</span></dt>
                <dd>
                    <div *ngIf="elasticShippingClaim.shippingClaimId">
                        <a [routerLink]="['/shipping-claim', elasticShippingClaim.shippingClaimId, 'view']">{{elasticShippingClaim.shippingClaimId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eshipperApp.elasticShippingClaim.elasticStatus">Elastic Status</span></dt>
                <dd>
                    <div *ngIf="elasticShippingClaim.elasticStatusId">
                        <a [routerLink]="['/elasticsearch-status', elasticShippingClaim.elasticStatusId, 'view']">{{elasticShippingClaim.elasticStatusId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/elastic-shipping-claim', elasticShippingClaim.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
