<div>
    <h2 id="page-heading">
        <span jhiTranslate="eshipperApp.shippingClaim.home.title">Shipping Claims</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipping-claim" [routerLink]="['/shipping-claim/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eshipperApp.shippingClaim.home.createLabel">
            Create a new Shipping Claim
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shippingClaims?.length === 0">
        <span jhiTranslate="eshipperApp.shippingClaim.home.notFound">No shippingClaims found</span>
    </div>
    <div class="table-responsive" *ngIf="shippingClaims?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="receivedDate"><span jhiTranslate="eshipperApp.shippingClaim.receivedDate">Received Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="mailedDate"><span jhiTranslate="eshipperApp.shippingClaim.mailedDate">Mailed Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="eshipperApp.shippingClaim.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="eshipperApp.shippingClaim.updatedDate">Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="trackingNumber"><span jhiTranslate="eshipperApp.shippingClaim.trackingNumber">Tracking Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="subject"><span jhiTranslate="eshipperApp.shippingClaim.subject">Subject</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="eshipperApp.shippingClaim.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="notifyCustomer"><span jhiTranslate="eshipperApp.shippingClaim.notifyCustomer">Notify Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="missingDocuments"><span jhiTranslate="eshipperApp.shippingClaim.missingDocuments">Missing Documents</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="claimCarrierRefundId"><span jhiTranslate="eshipperApp.shippingClaim.claimCarrierRefund">Claim Carrier Refund</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="claimEshipperRefundId"><span jhiTranslate="eshipperApp.shippingClaim.claimEshipperRefund">Claim Eshipper Refund</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingOrderId"><span jhiTranslate="eshipperApp.shippingClaim.shippingOrder">Shipping Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ticketReasonId"><span jhiTranslate="eshipperApp.shippingClaim.ticketReason">Ticket Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="claimStatusId"><span jhiTranslate="eshipperApp.shippingClaim.claimStatus">Claim Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="claimSolutionId"><span jhiTranslate="eshipperApp.shippingClaim.claimSolution">Claim Solution</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="claimAssigneeId"><span jhiTranslate="eshipperApp.shippingClaim.claimAssignee">Claim Assignee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contactPreferenceId"><span jhiTranslate="eshipperApp.shippingClaim.contactPreference">Contact Preference</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shippingClaim of shippingClaims ;trackBy: trackId">
                <td><a [routerLink]="['/shipping-claim', shippingClaim.id, 'view' ]">{{shippingClaim.id}}</a></td>
                <td>{{shippingClaim.receivedDate | date:'medium'}}</td>
                <td>{{shippingClaim.mailedDate | date:'medium'}}</td>
                <td>{{shippingClaim.createdDate | date:'medium'}}</td>
                <td>{{shippingClaim.updatedDate | date:'medium'}}</td>
                <td>{{shippingClaim.trackingNumber}}</td>
                <td>{{shippingClaim.subject}}</td>
                <td>{{shippingClaim.description}}</td>
                <td>{{shippingClaim.notifyCustomer}}</td>
                <td>{{shippingClaim.missingDocuments}}</td>
                <td>
                    <div *ngIf="shippingClaim.claimCarrierRefundId">
                        <a [routerLink]="['/claim-carrier-refund', shippingClaim.claimCarrierRefundId , 'view' ]" >{{shippingClaim.claimCarrierRefundId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shippingClaim.claimEshipperRefundId">
                        <a [routerLink]="['/claim-eshipper-refund', shippingClaim.claimEshipperRefundId , 'view' ]" >{{shippingClaim.claimEshipperRefundId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shippingClaim.shippingOrderId">
                        <a [routerLink]="['/shipping-order', shippingClaim.shippingOrderId , 'view' ]" >{{shippingClaim.shippingOrderId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shippingClaim.ticketReasonId">
                        <a [routerLink]="['/ticket-reason', shippingClaim.ticketReasonId , 'view' ]" >{{shippingClaim.ticketReasonId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shippingClaim.claimStatusId">
                        <a [routerLink]="['/claim-status', shippingClaim.claimStatusId , 'view' ]" >{{shippingClaim.claimStatusId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shippingClaim.claimSolutionId">
                        <a [routerLink]="['/claim-solution', shippingClaim.claimSolutionId , 'view' ]" >{{shippingClaim.claimSolutionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shippingClaim.claimAssigneeId">
                        <a [routerLink]="['/claim-assignee', shippingClaim.claimAssigneeId , 'view' ]" >{{shippingClaim.claimAssigneeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shippingClaim.contactPreferenceId">
                        <a [routerLink]="['/contact-preference', shippingClaim.contactPreferenceId , 'view' ]" >{{shippingClaim.contactPreferenceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shipping-claim', shippingClaim.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shipping-claim', shippingClaim.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(shippingClaim)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="shippingClaims?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
