<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-claim-carrier-refund-heading" jhiTranslate="eshipperApp.claimCarrierRefund.home.createOrEditLabel">Create or edit a Claim Carrier Refund</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimCarrierRefund.carrierClaim" for="field_carrierClaim">Carrier Claim</label>
                    <input type="text" class="form-control" name="carrierClaim" id="field_carrierClaim"
                           formControlName="carrierClaim"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimCarrierRefund.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimCarrierRefund.chequeNumber" for="field_chequeNumber">Cheque Number</label>
                    <input type="text" class="form-control" name="chequeNumber" id="field_chequeNumber"
                           formControlName="chequeNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimCarrierRefund.cheque" for="field_cheque">Cheque</label>
                    <input type="text" class="form-control" name="cheque" id="field_cheque"
                           formControlName="cheque"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimCarrierRefund.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimCarrierRefund.currency" for="field_currency">Currency</label>
                    <select class="form-control" id="field_currency" name="currency" formControlName="currencyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackById">{{currencyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.claimCarrierRefund.refundStatus" for="field_refundStatus">Refund Status</label>
                    <select class="form-control" id="field_refundStatus" name="refundStatus" formControlName="refundStatusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="claimCarrierRefundStatusOption.id" *ngFor="let claimCarrierRefundStatusOption of claimcarrierrefundstatuses; trackBy: trackById">{{claimCarrierRefundStatusOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
